@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-image: url(./images/logo.jpg); */
    /* font-family: 'Encode Sans Semi Expanded', sans-serif; */
    font-family: 'Inter', sans-serif;
}


body.changed {
    background-color: #e74c3c; /* Set your desired background color */
  }

  
:root {
    --background: rgba(255, 255, 255);
}

.container{
    align-items: center;
}

.content{
   height: 150vh; 
   /* background-image: url(./images/logo.jpg); */
   /* background-color: #e3dbe3; */
   background-blend-mode: multiply;
   margin: 0 25%;
   font-size: 15px;

}
    
header{
   background-color: var(--background);
   position: fixed;
   width: 50%;
   z-index: 999;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0 25%;

}

.clickable-icon {
    height: 1.25rem;
    width: 1.25rem;
    cursor: pointer;
    /* background-color: #f0f0f0;  */

}

.clickable-icon:hover, .clickable-icon.active {
    background-color: #f0f0f0; /* Change this to your desired background color */
  }

.logo{
    cursor: pointer;
    padding: 10px 10px;
    color: rgb(16, 16, 16);
}


nav ul li{
display: inline;
cursor: pointer;
margin-right: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li a{
text-decoration: none;
color: rgb(19, 19, 19);
font-size: 14px;
 }

.profile-pic{
        height: 80px;
        width: 80px;
 
        border-radius: 50%;
    }

    .project-pic{
        height: 100px;
        width: 100px;
        /* margin-left: 10%; */
        border-radius: 50%;
    }

.main ul li {
        list-style: none;
        color: darkgray;

    }

    .main ul li a{
        color: darkgray;

    }
.main {
    display: flex;
    align-items: center;
    justify-content:left;
    margin-top: 20px;

}


p {
    margin: 20px 0;
}

.project-card p {
    margin: 20px 20px; 
}

.main-area{
    height: 120px;
    width: 100%;
}

.social-media-link {
    display: inline;
    margin-left: 10%;
}

.social-media-link li{
    margin: 10px 0;

}

.social-media-link li svg{
    margin-right: 5px;

}

/* 
.social-media-link li{
margin-left: 80px;
} */

.project-section {
   /* padding: 2% 2%; */
   /* background-color: black; */
   margin-top: 8%;
}


.project-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aquamarine; */
    margin: 3% 0;

}


/* nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30%;
}

 nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 5px;
}

nav a {
    text-decoration: none;
    color: #a38787;
    font-weight: bold;
    font-size: 16px;
}
  */
